<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="br.com.suitesistemas.portsmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ports"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ports"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="br.com.suitesistemas.portsmobile.view.activity.search.FinancialReleaseSearchActivity"/>
        <activity android:name="br.com.suitesistemas.portsmobile.view.activity.search.ProductSearchActivity" />
        <activity android:name="br.com.suitesistemas.portsmobile.view.activity.search.PeopleSearchActivity" />
        <activity android:name="br.com.suitesistemas.portsmobile.view.activity.search.SaleSearchActivity" />
        <activity android:name="br.com.suitesistemas.portsmobile.view.activity.form.SaleFormActivity" />
        <activity android:name="br.com.suitesistemas.portsmobile.view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.suitesistemas.portsmobile.view.activity.MainActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name="br.com.suitesistemas.portsmobile.view.activity.form.CustomerFormActivity"
                android:parentActivityName="br.com.suitesistemas.portsmobile.view.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.suitesistemas.portsmobile.view.activity.MainActivity" />
        </activity>
    </application>

</manifest>