<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="br.com.suitesistemas.portsmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ports"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ports"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.activity.search.SelectCombinationSearchActivity"></activity>
        <activity android:name=".view.activity.form.ModelFormActivity" />
        <activity android:name=".view.activity.search.ModelSearchActivity" />
        <activity android:name=".view.activity.search.CombinationSearchActivity" />
        <activity android:name=".view.activity.search.SelectColorSearchActivity" />
        <activity android:name=".view.activity.form.ProductFormActivity" />
        <activity android:name=".view.activity.search.ProductSearchActivity" />
        <activity android:name=".view.activity.search.ColorSearchActivity" />
        <activity android:name=".view.activity.search.FinancialReleaseSearchActivity" />
        <activity android:name=".view.activity.search.SelectProductSearchActivity" />
        <activity android:name=".view.activity.search.PeopleSearchActivity" />
        <activity android:name=".view.activity.search.SaleSearchActivity" />
        <activity android:name=".view.activity.form.SaleFormActivity" />
        <activity android:name=".view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activity.MainActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="br.com.suitesistemas.portsmobile_TARGET_CLIENTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.suitesistemas.portsmobile_TARGET_PEDIDO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.suitesistemas.portsmobile_TARGET_TAREFA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.suitesistemas.portsmobile_TARGET_VENDA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.suitesistemas.portsmobile_TARGET_COR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.suitesistemas.portsmobile_TARGET_PRODUTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activity.form.CustomerFormActivity"
                android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.suitesistemas.portsmobile.view.activity.MainActivity" />
        </activity>

        <service
                android:name=".firebase.MessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/logo" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorPrimary" />
    </application>

</manifest>